<section class="w-full shadow-2xl z-50 overflow-hidden">
  <!-- 🔹 Top Bar -->
  <div class="bg-primary text-white text-sm">
    <!-- Social -->
    <div class="md:w-full flex justify-between items-center">
      <div class="h-12.5 w-full md:w-142 bg-[#0F5A44]">
        <div class="flex items-center gap-3.5 w-full h-full md:px-14 px-3">
          <span class="text-white md:text-[12px] font-medium text-nowrap">Follow US:</span>

          <!-- icons -->
          <div class="flex gap-2 sm:px-9 justify-start md:px-2">
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-facebook-f text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-instagram text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-whatsapp text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-snapchat text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-youtube text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-telegram text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-x-twitter text-xs"></i>
            </div>
            <div
              class="w-7 h-7 flex items-center justify-center rounded-full bg-white text-primary transition-all duration-300 ease-out transform hover:-translate-y-1.5 hover:opacity-75 hover:scale-105 hover:bg-secondary cursor-pointer"
            >
              <i class="fab fa-tiktok text-xs"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div class="md:w-218 hidden md:block">
        <div class="px-25 md:flex w-[289px] items-center gap-8.5 text-[14px] font-medium">
          <span class="flex flex-nowrap w-70 items-centergap-1">
            <i class="fab text-[20px] fa-whatsapp"></i>
            <p class="px-0 text-nowrap">+44 7465 655539 - +1 409-908-3233</p>
          </span>

          <!-- divider -->
          <div class="w-px h-4 bg-white/40"></div>

          <span class="flex items-center gap-1">
            <i class="fa text-[20px] fa-envelope"></i>
            <p class="px-2.75">info@quranforallschool.com</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
